@font-face {font-family: roboto-example;font-weight: 400;font-style: normal;src: url(../_css/fonts/RobotoRegular/RobotoRegular.eot);src: url(../_css/fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../_css/fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../_css/fonts/RobotoRegular/RobotoRegular.ttf) format("truetype");}
@font-face {font-family: roboto-example;font-weight: 700;font-style: normal;src: url(../_css/fonts/RobotoBold/RobotoBold.eot);src: url(../_css/fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"), url(../_css/fonts/RobotoBold/RobotoBold.woff) format("woff"), url(../_css/fonts/RobotoBold/RobotoBold.ttf) format("truetype");}


*, ::after, ::before {-webkit-box-sizing: border-box;box-sizing: border-box;}
html {font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;}
@-ms-viewport {width: device-width;}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {display: block;}
::-webkit-input-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
::-ms-input-placeholder {color: #666;}
::placeholder {color: #666;}
::-moz-selection {background-color: orange;color: #fff;}
::selection {background-color: orange;color: #fff;}
body {font-size:1vw;min-width:320px;position:relative;line-height:1.65;font-family:gothampro-regular, sans-serif;overflow-x: hidden;color: #333;margin: 0;}
body input, body textarea {border: #666 1px solid;outline: 0;}
body input:focus:required:invalid, body textarea:focus:required:invalid {border-color: red;}
body input:required:valid, body textarea:required:valid{border-color: green;}

.tc {text-align: center;}
.tr {text-align: right;}
.tl {text-align: left;}
.w-10 {width: 10%!important;}
.w-20 {width: 20%!important;}
.w-30 {width: 30%!important;}
.w-40 {width: 40%!important;}
.w-50 {width: 50%!important;}
.w-60 {width: 60%!important;}
.w-70 {width: 70%!important;}
.w-80 {width: 80%!important;}
.w-90 {width: 90%!important;}
.w-100 {width: 100%!important;}
ul.cols{display:table;table-layout: fixed;}
ul.rows{display:block;}
ul.cols>li{display:table-cell;vertical-align: middle}
ul.rows>li{display:block;width:100%!important;}
ul.cols, ul.rows{font-size:0;margin:0;padding:0;width:100%;position:relative;overflow:visible!important;text-decoration:none!important;}
ul.cols>li, ul.rows>li{list-style-type: none;;position: relative;padding:0;margin:0;font-size: 1vw;}
div.flex{display:flex;}
.flex{display:flex;}
.space-between{justify-content:space-between}
.align-items-center{align-items:center}
.container{width:80%;margin:0 auto;}

@media(max-width:640px){

}